---

---

<div
  class="dark text-muted text-sm bg-purple-500 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap justify-center"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block text-center"
    >原材料不足の影響で、2025年3月中旬の本格販売を5月頃に延期いたします。入荷までの間、ご注文は受け付けておりません。</span
  >
</div>
